
body {
    background-color: #ffffff;
    font-size: 1rem;
    font-family: Arial, "Arial CE", "Helvetica CE", sans-serif;
    color: #000000;
    max-width: 30rem;
    margin: auto;
    padding: 1em;
}

h1 {
    font-size: 1.6em
}

h2 {
    font-size: 1.4em
}

h3 {
    font-size: 1.2em
}

a:link, a:visited {
    color: #045491;
    font-weight: bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover {
    color: #045491;
    font-weight: bold;
    text-decoration: underline;
}

/*Properties of the form elements*/

label {
    vertical-align: top;
    display: inline-block; /*instead of inline (default)*/
    min-width: 5em;
}



/*Properties of the tables with scores*/

table.scores {
    width: 100%;
    border: black 2px;
}

table.scores th {
    font-weight: bold;
    color: #FFFFFF;
    background-color: dimgray;

}

table.scores tr:nth-child(even) {
    background-color: lightgray
}

table.scores tr:nth-child(odd) {
    background-color: white;
}

table.puzzle {
    border-collapse: collapse;
    margin: auto;
}

table.puzzle td {
    padding: 0;
    width: 4em;
    height: 4em;
}

.tile {
    width: 60px;
    height: 60px;
    line-height: 60px; /* zarovná text vertikálne */
    text-align: center;
    border: 1px solid #555;
    display: inline-block;
    font-weight: bold;
    font-size: 1.5em;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

.tile.covered {
    background-color: #4a90e2;
    color: white;
}

.tile.covered:hover {
    background-color: springgreen;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.tile.empty {
    background-color: #eee;
}

/*adjustment for smaller screens/viewports*/
@media (max-width: 600px) {
    body {
        max-width: 95vw;
    }

    table.puzzle td {
        font-size: calc(1em + 4vw);
        width: 10vw;
        height: 10vw;
        min-width: 1em;
        min-height: 1em;
    }
}

@media (max-height: 780px),
(max-width: 600px) and (orientation: landscape) {
    table.puzzle td {
        font-size: calc(1em + 2vh);
        width: 5vh;
        height: 5vh;
    }
}

.footer-logo {
    display: block;
    margin: 10px auto;
    max-width: 150px;
    height: auto;
}

.game-status {
    border: 2px solid #999;
    padding: 10px;
    display: block;
    margin: 10px auto;
    border-radius: 5px;
    text-align: left;
}

.game-status.solved {
    border-color: springgreen;
}

.game-status.failed {
    border-color: red;
}
