<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamestudio</title>
    <link rel="stylesheet" href="/css/styleResponsive.css"/>
</head>
<body>

    <div th:replace="fragments/fragments::header"/><br>

    <main>
        <div th:if="not ${@userController.logged}">
            <form action="/login" method="post">
                <label for="login">Login:</label>
                <input type="text" id="login" name="login"/><br/>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password"/><br/>
                <input type="submit" value="Login"/>
            </form>
        </div>

        <h2>Our favorite games</h2>
        <ol>
            <li><a href="/puzzle">Picture Sliding Puzzle</a></li>
        </ol>
    </main>

    <div th:replace="fragments/fragments::footer"/>

</body>
</html>